<div appKm role="radiogroup" [attr.aria-labelledby]="id" class="button-group">
  <label [id]="id" class="label">{{ label }}</label>
  <button
    appKmItem
    (focused)="activate(options.YES)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.YES"
    [class.button-pressed]="value === options.YES"
    [attr.tabIndex]="value === options.YES || value === null ? 0 : -1"
    type="button"
    (click)="activate(options.YES)"
    class="button button-yes"
  >
    Yes
  </button>
  <button
    appKmItem
    (focused)="activate(options.NO)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.NO"
    [class.button-pressed]="value === options.NO"
    [attr.tabIndex]="value === options.NO ? 0 : -1"
    type="button"
    (click)="activate(options.NO)"
    class="button button-no"
  >
    No
  </button>
</div>
