<main>
  <h1>Form</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-yes-no-button-group
      [appDisabledControl]="false"
      [label]="label"
      formControlName="yesNoAnswer"
    ></app-yes-no-button-group>
    <button>Submit</button>
  </form>
</main>

<h1>Accessible Modal Component</h1>

<p>Welcome to the acessible modal testing page!</p>
<button class="button button-primary" type="button" (click)="showModal()">
  Show modal
</button>

<ng-template #modal>
  <form [formGroup]="formModal" (ngSubmit)="submitModal()">
    <div class="form-field">
      <label for="firstName">First name</label>
      <input
        aria-describedby="firstname-error"
        formControlName="firstName"
        id="firstName"
        [attr.aria-invalid]="formModal.get('firstName').invalid"
      />
      <span
        id="firstname-error"
        *ngIf="formModal.get('firstName').errors?.required"
        class="validation-error"
      >
        First name is required
      </span>
    </div>

    <div class="form-field">
      <label for="surname">Last name</label>
      <input
        aria-describedby="surname-error"
        formControlName="surname"
        type="text"
        id="surname"
        [attr.aria-invalid]="formModal.get('surname').invalid"
      />
      <span
        id="surname-error"
        *ngIf="formModal.get('surname').errors?.required"
        class="validation-error"
      >
        Sur name is required
      </span>
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input
        aria-describedby="age-error"
        formControlName="age"
        id="age"
        [attr.aria-invalid]="formModal.get('age')"
      />
      <span
        id="age-error"
        *ngIf="formModal.get('age').errors?.required"
        class="validation-error"
      >
        Age is required
      </span>
    </div>

    <div class="button-group">
      <button
        [attr.aria-disabled]="formModal.invalid"
        class="button button-primary"
        type="submit"
      >
        Submit
      </button>
      <button
        class="button button-secondary"
        type="button"
        (click)="modalRef.close()"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>
